// Variables
$primary-color: #FF8A01;
$primary-color-lighter: lighten($primary-color, 20%);
$background-color: #1F1F1F;
$background-lighter: lighten($background-color, 5%);
$primary-text: #E6E6E6;
$secondary-text: darken($primary-text, 20%);
$success-color: #58B957;
$error-color: #DB524B;

// Imports
@import "navbar";
@import "base";
@import "home";
@import "search";
@import "item";
@import "requests";
@import "admin";
@import "loading";
@import "layout";

// Reference Bootstrap grid sizes
//
//   Extra small screen / phone
//     xs: 0,
//   Small screen / phone
//     sm: 34em,
//   Medium screen / tablet
//     md: 48em,
//   Large screen / desktop
//     lg: 62em,
//   Extra large screen / wide desktop
//     xl: 75em